.player-score {
    box-sizing: border-box;
    width: 50px;
    height: 20px;
    background-color: var(--color-border);
    border: 3px solid var(--color-background-back);
    padding: 1px;
    border-radius: 5px;
    display: flex;
    gap: 1px;
}

.player-score > .pointer {
    background-color: var(--color-silver);
    text-indent: -9999px;
    overflow: hidden;
    width: 33%;
}