:root {
    --color-card-inverted: #051932;
    --color-background: #468B97;
    --color-border: #FFFCEE;
    --color-fonts: #FFFCEE;
    --color-background-back: #f25a70;
    --color-score: #F5D547;
    --color-silver: #828282;
    --color-green: #62C370;
}